<header class="header">
    <div class="container">
        <div class="row">
            <div class="span4">
                <a href="index.html" class="logo">
                    <img src="assets/img/logo.png" alt="">
                </a>
            </div>
            <div class="span8">
                <nav>
                    <ul class="right">
                        <li class="current">
                            <a href="index.html">
                                home
                            </a>
                             <ul>
                                <li>
                                  <a href="index_2.html">
                                    home page two
                                  </a>
                                </li>
                                <li>
                                  <a href="index_3.html">
                                    home page three
                                  </a>
                                </li>
                                <li>
                                  <a href="index_4.html">
                                    home page four
                                  </a>
                                </li>
                                <li>
                                  <a href="index_5.html">
                                    home page five
                                  </a>
                                </li>
                                <li>
                                  <a href="index_6.html">
                                    home page six
                                  </a>
                                </li>
                                <li>
                                  <a href="index_7.html">
                                    home page seven
                                  </a>
                                </li>
                                </ul>
                        </li>
                        <li>
                            <a href="about.html">
                                about
                            </a>
                        </li>
                        <li>
                            <a href="features.html">
                                features
                            </a>
                            <ul>
                                <li>
                                    <a href="features2.html">
                                        features 2
                                    </a>
                                </li>
                                </ul>
                        </li>
                        <li>
                            <a href="portfolio.html">
                                portfolio
                            </a>
                            <ul>
                                <li>
                                    <a href="portfolio-two.html">
                                        portfolio two
                                    </a>
                                </li>
                                <li>
                                    <a href="portfolio-three.html">
                                        portfolio three
                                    </a>
                                </li>
                                <li>
                                    <a href="portfolio-single.html">
                                        single portfolio
                                    </a>
                                </li>
                                <li>
                                    <a href="portfolio-single-2.html">
                                        single portfolio slider
                                    </a>
                                </li>
                                <li>
                                    <a href="portfolio-single-3.html">
                                        single portfolio video
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog.html">
                                blog
                            </a>
                            <ul>
                                <li>
                                    <a href="blog_rs.html">
                                        blog right sidebar
                                    </a>
                                  </li>
                                <li>
                                    <a href="single-post.html">
                                        single post
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                example level
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                example level
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">
                                contact
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>